.fixNav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
.rowSection {
    position: relative;
    margin: 9em 0em;
}
.navigation-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 65px;
    font-family: 'Open Sans', sans-serif;
    .logo {
        img{
            width: 70%;
        }
       
      
    }
    .menu{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        padding-left: 0;
        
        .item{
            cursor: pointer;
            font-size: 18px;
            margin-left: 60px;
            button{
                background-color: transparent;
                .item-text{
                    font-size: 16px; 
                }
            }
            
        }
    }
}

.bigCircle{
    position: absolute;
    top: -192px;
    right: -71px;
    width: 52%;
    z-index: -1;
}
.smallCircle{
    position: absolute;
    top: 27px;
    left: -68px;
    width: 25%;
    z-index: -1;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    
}
.dot{
    z-index: -1;
    width: 22%;
    position: absolute;
    bottom: 51px;
    right: 22px;
}
.dot1{
    z-index: -1;
    width: 44%;
    position: absolute;
    bottom: -18px;
    right: 115px;
}
.first_content{
    display: flex;
    justify-content: center;
    padding: 20px 65px 76px;
    
    
   
   .calc{
        
       display: flex;
      
       .editLoan{
            max-width: 300px;
            padding-bottom: 20px;
           .loan-wrapper{
            padding: 15px 35px;
            font-size: 15px;

           }
            z-index:0;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0px 5px 10px #0000002e;
       }
       .viewLoan{
            margin: 65px 0px 65px 5px;
            background-image: linear-gradient(#9F62C9, #663399);
            border-radius: 0px 8px 8px 0px;
            padding: 66px 14px;
            .loan{
                font-weight: 600;
                font-family: Montserrat-Medium;
                margin-bottom: 30px;
                text-align: center;
                color: white;
                font-size: 15px;
            }
       }
   }

}
.header-text{
    font-family: Montserrat-Medium;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 30px;
}
.stripe1{
    height: 4px;
    background-color: black;
    width: 20%;
    margin-bottom: 40px;
}
.stripe2{
    height: 4px;
    background-color: #663399;
    width: 45%;
    margin-bottom: 40px;
}
.scnd_content{
   background-image: url(../assets/sol_wave_bg.svg);
   .content-wrapper{
    display: flex;
    padding-left: 40px;
   }
   .scnd_content_part1{
    display: flex;
    .card{
        width: 325px;
        height: 253px;
        background-color: white;
        margin: 0px 0px 50px 50px;
        box-shadow: 5px 5px 7px 5px #0000002e;
        border-radius: 10px;
        .card-wrapper{
            padding: 25px;
        }
        .card-text{
            color: #999999;
        }
    }  
    .card:hover{
        background-color:   rgba(102 ,51, 153, 0.6);
        .h-text{
            color:white;
            font-family: Montserrat-SemiBold;

        }
        .card-text{
            color:white;
            font-family: Montserrat-Regular;

        }
    }
   
   }
   .scnd_content_part2 {
    margin: 104px 0px 0px 160px;
   }

}
button.openAccount{
    border: 2px solid #663399;
    border-radius: 15px;
    margin-top: 30px;
    background-color: transparent;
    .btn-text{
        font-family: Montserrat-Medium;
        display: block;
        color: #663399;
        padding: 7px;
    }
}

button.openAccount:hover{
    background-color: #340e5a;
    border: 2px solid #340e5a;
    .btn-text{
        font-family: Montserrat-Medium;
        color: white;
     
    }
}
button{
    cursor: pointer;
    border: 2px solid #663399;
    border-radius: 20px;
   
    .btn-text{
        font-family: Montserrat-Medium;
        display: block;
        color: #663399;
        padding:5px 15px;
    }
}
button:hover{
  background-color: #340e5a;
  border: 2px solid #340e5a;
  background-image: none;
    .btn-text{
        color: white;
    }
}
#getstarted{
    background-image: linear-gradient(#9F62C9 50%, #663399);
    border: none;
    .btn-text{
        font-family: Montserrat-Medium;
        color:white;
        padding:8px 15px;;
    }
}

#navlist:hover, #getstarted:hover{
    background-color: #340e5a;
    background-image: none;
      .btn-text{
          color: white;
      }
}
.s_content{
font-family: Montserrat-Regular;
}


.slidecontainer {
    position: relative;
    width: 100%;
  }
  .firstrange{
position: absolute;
color: #999999;
left: 0;
bottom: 0;
font-size: 10px;
  }
  .scndrange{
    position: absolute;
    right: 0;
    color: #999999;
    font-size: 10px;
    bottom: 0;

  }
  input[type="range"] {
    -webkit-appearance: none;
   }
   
   input[type="range"]:focus {
    outline: none;
   }

   input[type="range"]::-webkit-slider-runnable-track {
    background: #663399;
    height: 2px;
   }
   
   input[type="range"]::-moz-range-track {
    background: #663399;
    height: 2px;
   }

   input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: #340e5a;
    margin-top: -4px;
    border-radius: 50%;
    border: 2px solid #ffffff;
   }

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: #340e5a;
    margin-top: -4px;
    border-radius: 50%;
    border: 2px solid #ffffff;
   }

   input[type=range]:focus::-ms-fill-lower {
    background: #ac51b5;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ac51b5;
  }  

  .slider{
      width: 100%;
  }
p{
    margin-bottom: 1px;
    margin-top: 1px;
}
.dropdown{
    position: relative;
}
.dropbtn{
    position: absolute;
    right: 0;
    color: #999999;
    bottom: 5px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 21px;
  height: 12px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 10px;
    width: 10px;
    left: 2px;
    bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle {
  background-color: #663399;
}

input:focus + .toggle {
  box-shadow: 0 0 1px #663399;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}

/* Rounded sliders */
.toggle.round {
  border-radius: 34px;
}

.toggle.round:before {
  border-radius: 50%;
}
input {
   border: hidden;
  }
  
  .no-outline:focus {
    outline: none;
  }
